h5py==2.7.1
imutils==0.4.3
Keras==2.1.1
matplotlib==2.1.1
numpy==1.14.0
opencv-contrib-python==3.3.0.10
opencv-python==3.3.0.10
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==1.0.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
